<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <div class="row">
    <%- include('./partials/sidebar.ejs') %>
    <div class="col" id="nav-size">
      <%- include('./partials/navbar.ejs') %> 
      <div class="row bg-light pe-0 padding-start">
        <%- include('./partials/collapse.ejs') %> 
        <div class="col pe-0 ps-0 col-size">
          <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb mt-5">
              <li class="breadcrumb-item fw-bold">Cars</li>
              <li class="breadcrumb-item" id="list-car-breadcrumb" aria-current="page"><a href="#">List Car</a></li>
            </ol>
          </nav>
          <div class="d-flex justify-content-between mb-3">
            <h1 class="list-car-title">List Car</h1>
            <a href="/addCar">
              <button class="btn-blue"><i class="fa fa-plus" aria-hidden="true"></i>Add New Car</button>
            </a>
          </div>
          <nav class="mb-4">
            <a class="link-square me-3" aria-current="page" href="#">All</a>
            <a class="link-square me-3" href="#">Small</a>
            <a class="link-square me-3" href="#">Medium</a>
            <a class="link-square" href="#">Large</a>
          </nav>
          <div class="row">
            <% cars.forEach(car => { %>
              <% const updatedAt = new Date(car.updatedAt) %>
              <div class="col-auto">
                <div class="card card-property">
                  <img src="<%= car.image %>" alt="car image" class="car-image">
                  <div class="card-body">
                    <p class="car-name mb-2"><%= car.name %>/<%= car.size %> </p>
                    <h5 class="car-price">Rp. <%= car.price %>/hari</h5>
                    <p class="time-updated"><i class="fa-regular fa-clock me-2"></i>Updated at <%= updatedAt.getDate() %> <%= updatedAt.toLocaleString('en-US', {month: 'short'});%> <%= updatedAt.getFullYear() %>, <%= updatedAt.getHours() %>.<%= updatedAt.getMinutes() %></p>
                    <div class="d-flex">
                      <button type="button" class="btn btn-outline-danger btn-align mb-2 me-3" data-id="<%= car.id %>" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <!-- data-id="" onclick="$('#dataid').val($(this).data('id')); $('#exampleModal').modal('show');" -->
                        <img src="/images/fi_trash.png" />
                        Delete
                      </button>
                      <a href="http://localhost:8000/updateCar/<%= car.id %>">
                        <button type="button" class="btn btn-success btn-edit">
                          <i class="fa-regular fa-pen-to-square"></i>
                          Edit
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div> 
      </div>
    </div>  
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body">
          <div class="d-flex flex-column gap-3 text-center">
            <image class="mx-auto" src="/images/modal_image.png" height="121px" />
            <div class="fw-bolder">Menghapus Data Mobil</div>
            <div class="fw-light">
              Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?
            </div>
        </div>
        </div>
        <div class="m-auto pb-3">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a id="modalDeleteButton" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  <script>
    $("#exampleModal").on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget) //Button that triggered the modal
      var id = button.data('id') //need to find the button and get id
      var url = '/delete/' + id; //url

      console.log('data-id= ' + id) //15
      console.table(button, id)

      document.getElementById('modalDeleteButton').setAttribute('href', `/deleteCar/${id}`);
    })
  </script>
</body>
</html>